{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Le Collectif Taliesin{% endblock %}

    {% block body %}
        
        <div class="manage-comments container my-5">

        <br>
        
            {% for messages in app.flashes('success') %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert" tabindex="0">&times;</button>
                    {{ messages }}
                </div>
            {% endfor %}
            
            <h1 class="text-center my-5">Gérer les commentaires :</h1>

            {% include "modo/_menu.html.twig" %}

            <table class="table table-striped">
                
                <thead>
                    <tr>
                        <th scope="col">Article</th>
                        <th scope="col">Commentaire</th>
                        <th scope="col">Satuts</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    
                    {% for comment in comments %}
                        
                        <tr>
                            <th scope="row">{{ comment.article.title }}</th>
                                
                                <td>{{ comment.content }}</td>
                                
                                <td>
                                    {% if comment.status == "W" %}
                                        <span class="badge badge-pill badge-warning">En attente</span>
                                    {% endif %}
                                    {% if comment.status == "V" %}
                                        <span class="badge badge-pill badge-success">Approuvé</span>
                                    {% endif %}
                                    {% if comment.status == "R" %}
                                        <span class="badge badge-pill badge-danger">Non approuvé</span>
                                    {% endif %}
                                </td>
                                
                                <td>
                                    <div class="d-flex">
                                        <a href="{{ path('comment_action', {'status': 'V', 'commentId': comment.id}) }}" class="btn btn-success mr-2 mb-2">Approuvé</a>
                                        <a href="{{ path('comment_action', {'status': 'R', 'commentId': comment.id}) }}" class="btn btn-danger mr-2 mb-2">Non approuvé</a>
                                    </div>
                                </td>
                            </tr>
                    
                    {% endfor %}

                </tbody>

            </table>

            <div class="text-center">
                {{ knp_pagination_render(comments) }}
            </div>
        
        </div>

    {% endblock %}