{% extends 'base.html.twig' %}

{% block title %}Editer l'article - Le Collectif Taliesin{% endblock %}

    {% block body %}

        <div class="container article_edit">

            <div class="row"> 

                <div class="col-12">

                    {% if app.user and is_granted('ROLE_MODO') %}

                        <br>

                        <a href="{{ path('app_home') }}"><h3 class="my-5">🏠</h3></a>

                        <h1 class="text-center my-5">Editer l'article :</h1>
                        
                        <a href="{{ path('article_show', { 'id': article.id }) }}" class="btn btn-primary mb-2">Afficher l'article</a>
                        
                        {{ include('article/_form.html.twig') }}

                        {{ include('article/_show-comment.html.twig') }}

                        {{ include('article/_delete_form.html.twig') }}

                    {% else %}
                        
                        <a href="{{ path('app_home') }}"><h3 class="my-5">🏠</h3></a>

                        <div class="my-5" >
                            Vous n'avez pas accès à cet page !!
                        </div>

                    {% endif %}

                </div>

            </div>

        </div>
        
    {% endblock %}
