<div class="mb-4">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <a href="{{ path('user_dashboard') }}" class="btn btn-secondary mb-4">Tableau de board</a>
        <a href="{{ path('user_info') }}" class="btn btn-secondary mb-4">Informations personnelles</a>
        <a href="{{ path('user_password') }}" class="btn btn-secondary mb-4">Mot de passe</a>
        <a href="{{ path('user_like') }}" class="btn btn-secondary mb-4">Articles aimés</a>
        <a href="{{ path('user_comment') }}" class="btn btn-secondary mb-4">Articles commentés</a>
    </div>
</div>