{% extends 'base.html.twig' %}

{% block title %}Changer son mot de passe - Le Collectif Taliesin{% endblock %}

    {% block body %}

        <div class="password-users container">

            <div class="row mt-4">

                <div class="col-12 my-5">
        
                    {% for messages in app.flashes('success') %}
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert" tabindex="0">&times;</button>
                            {{ messages }}
                        </div>
                    {% endfor %}
                    
                    {% for messages in app.flashes('error') %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert" tabindex="0">&times;</button>
                            {{ messages }}
                        </div>
                    {% endfor %}

                    <br>
                    
                    <h1 class="text-center my-3">Changer son mot de passe :</h1>

                    {% include "user/_menu.html.twig" %}

                    <section>
                        
                        <div class="d-flex flex-column">
                            
                            {{ form_start(passForm) }}

                                {{ form_row(passForm.oldPassword) }}

                                {{ form_row(passForm.newPassword.first) }}

                                {{ form_row(passForm.newPassword.second) }}

                                <div class="text-right">
                                    {{ form_row(passForm.save) }}
                                </div>

                            {{ form_end(passForm) }}
                        
                        </div>
                        
                    </section>

                </div>

            </div>

        </div>

    {% endblock %}